/* @media(max-width:477px) { */
/* @media (min-width:300px) and (max-width:767px) { */
@media (min-width:300px) and (max-width:765px) {
    .header {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px 8px;
        position: relative;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 158px;
        right: -262px;
        width: 183px;
        height: auto;
        background-color: #e3e6f3;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 100px 0px 0px 10px;
        transition: 0.4s;
        border-radius: 30px;
    }

    .navbar>li {
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .tablet {
        display: flex;
        align-items: center;
        margin-left: -37px;
    }

    .tablet i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;

    }

    .close {
        display: initial;
        position: absolute;
        top: 4px;
        left: 151px;
        color: #222;
        font-size: 24px;
    }

    .cart {
        display: none;
    }

    .section-1 {
        padding: 0px 10px;
        background-position: 67%;
    }

    .feature {
        padding: 20px;
        justify-content: space-between;
    }

    .feature-box {
        width: 155px;
        margin: 0px 0px 15px 0px;
    }

    .product1 {
        padding: 0px 20px;
    }

    .one {
        width: 100%;
    }

    .banner {
        height: 30vh;
    }

    .sm-banner {
        padding: 20px 20px;
    }

    .banner-box1 {
        width: 100%;
        height: 40vh;
    }

    .banner-box2 {
        margin-top: 10px;
        width: 100%;
        height: 40vh;
    }

    .banner2 {
        padding: 0px 20px;
    }

    .min-banner {
        width: 100%;
    }

    .min-banner2 {
        width: 100%;
    }

    .min-banner3 {
        width: 100%;
    }

    .newsletter {
        padding: 20px 20px;
    }

    .form {
        width: 100%;
    }

    .copyright {
        text-align: center;
    }

    /* single product  */

    #prodetails {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    #single-pro-img {
        width: 100%;
    }

    #single-pro-details {
        width: 100%;
    }

    #product12 {
        text-align: center;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #product12>h2 {
        font-weight: 700;
        margin-top: 25px;
    }

    .footer {
        padding: 20px 20px;
    }

    /* Blog page  */

    #blog {
        padding: 100px 20px 0px 20px;
    }

    #blog-box-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog-img-1 {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog-details-1 {
        width: 100%;
    }


    /* About page  */

    #about-head {
        flex-direction: column;
        padding: 20px 20px;
    }

    #about-head>img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-details>h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 700;
    }

    #about-details {
        padding: 20px 5px;
    }

    #about-app>h1 {
        font-size: 35px;
        font-weight: 700;
    }

    #newsletter {
        padding: 20px 20px;
    }

    #video {
        width: 100%;
    }

    #video>video {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    /* Contact Page  */
    #contact-details {
        padding: 20px 20px;
        flex-direction: column;
    }

    #deatils {
        width: 100%;
        margin-bottom: 30px;
    }

    #map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 20px 10px;
        flex-wrap: wrap;
    }

    #form-details>form {
        width: 100%;
        margin-bottom: 30px;
    }

    #people {
        padding: 20px 20px;
    }

    /* Cart Page  */

    #cart-section {
        padding: 20px 20px;
    }

    #cart-add {
        padding: 40px 20px;
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
    }

    #sidebar {
        width: 100%;
        height: min-content;
        border-radius: 5px;
        background-color: #eee;
        padding: 15px;
        text-align: center;
        position: absolute;
        top: -320px;
        left: 0%;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    #container1 {
        /* display: flex; */
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: auto;
    }

    #cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        background-color: #fff;
        border-bottom: 1px solid #aaa;
        border-radius: 3px;
        margin: 10px 0px;
    }

    #count {
        display: none;
    }
}


.container1 {
    /* display: flex; */
    width: 100%;
    position: relative;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.product13 {
    position: relative;
    z-index: 1;
    mix-blend-mode: luminosity;
}

.sidebar {
    display: none;
    cursor: pointer;
    width: 30%;
    height: min-content;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: -374px;
    left: 67%;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.head {
    border-radius: 3px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 0px;
    border-top: 1px solid #333;
    position: sticky;
    top: 212px;
}

.head>p {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.foot>h3 {
    font-size: 23px;
}

.foot>h2 {
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    /* background-color: #e8f6ea; */
    font-weight: 500;
    background-color: #088178;
    color: #e8f6ea;
    /* color: #088178; */
    border: 1px solid #cce7d0;
}

.btn10 {
    cursor: pointer;
    top: 87%;
    left: 78%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #088178;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-regular {
    color: #606063;
    transition: 0.4s;
}

.fa-regular:hover {
    cursor: pointer;
    color: #088178;
}

.inp {
    width: 35px;
    outline: none;
}

/* Jquery  */

.error {
    color: #088178;
}